/* Reset CSS */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}




/*fonts letras*/

body{
    /* font-family:'Open Sans', Arial, Helvetica, sans-serif; */
   /* font-family: 'Kaushan Script', cursive;*/
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;

}

/*estilos del menu */
.menu {
    background-color: #090909;/*color del menu*/
    height:18hv;/*alto del menu*/
    width: 100%;/*use todo el ancho de la pantalla que se esta viendo*/
    display: flex;
    justify-content: space-between;/*divide el espacio entre los 3 3lementos de la barra*/
    align-items: center;/*centra verticalmente*/
    border-bottom: 1px solid white;
    box-shadow:  5px 0 10 px rgba(203, 160, 160, 0.6); /*sonbra*/

    

}
.logo{
    padding: 10 20px; /*video*/
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 40px;/*separe 40px  del border derecho de la pantalla*/

}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}


.menu_items a{
    padding: 7px 13px;/*7 px arriba y abajo y 13 a los lados*/
    text-decoration: none;/*quita el subrayadao*/
    font-size: 18px;/*tamaño de letra */
    display: block;/*para que los links ocupen todo el espacio que tienen disponible dentro de los li*/
    text-transform: uppercase;/*convierte todo a mayuscula menu */
    color: #fff;/*cambia el color de los a*/
}

.menu_items li:hover, li.active{
    background-color: rgba(128, 99, 255, 0.3);/*efecto hover*/
    transition: .4s;/*para que el cambio de fondo no se muy brusco*/
}

.btn_menu{
    margin-right: 40px;/**/
    font-size: 25px;/**/
    color:#fff;/**/
    cursor: pointer;/*para que nos muestre la manita cuando nos posicionamos encima*/
    display: none;/*para que no se muestre si noe stamos en movile */
}

ul.show{
    top: 75px;/*clase que nos va ayudar a mostrar el menu,el nav en escritorio tienen 80px pero en mobile se debe colocar mas pequeño */

}



@media screen and (max-width: 980px){
    .logo{
        max-width:33%;/*se va a modificar los tamaño del logo apar 925*/
        
        padding-left: 5px;
    }
    .menu_items li a{
        font-size: 13px;/*cambiar tamañod e la fuent*/
    }
}
/*PARA MOVIL*/
@media screen and  (max-width: 890px){
    .menu{
        height: 75px;/**/
    }
    .btn_menu{
        display: inline-flex;/*para que se muestre en la posicion correpondiente*/
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% -75px);/*este calculo le permite al navegador calcular que alto debe darle*/
        background: #24199d;
        top:-100vh;/*para scardel view port*/
        text-align: center;
        transition: all .4s;
        flex-direction: column;/*se cambia el flex directio para que parezca en columnas*/
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;/*le quitamos el hover*/

    }
    .menu_items li a {
        font-size: 20px;
        color: #ffff;
        font-weight: bold;

    }
    .menu_items li a:hover{
        color: #a6a6a6;

    }
    .logo{
        max-width:23%;
        padding-left: 5px;
    }
}
    

    

/*
.logo{
    max-width: 30%;
    height: 50%;
    border: solid 5px;
    color: blue;
}
*/

@media screen and (max-width: 858px)and(orientation: landscape){
    .menu_items li{
        margin: 5px 0 0 0;/*para cuando giremos el movil*/
        
        padding-left: 5px;
    }
    .menu_items{
        overflow: scroll;
        height: cal(100%-75px);
    }
}



.logo img{
    width: 35%;
}

/*Stilos de Textos*/

.centered p{
    font-size: 2.5rem;
    color: white;
    font:bold;
    padding: auto;
}

/*STILOS PARA LAS SECTIONES*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    width: 100%;
    background-image: url("../img/Job-CANO-Header.jpg");
    background-size: cover;
    background-position: center;

  }
  
  .centered {
    text-align: center;
  }
 /* Esto creará un contenedor flex que centrará tanto horizontal
  como verticalmente el contenido del párrafo dentro del section. 
  Asegúrate de ajustar la altura del section (height) según tus necesidades.*/

  .anfitrion h1{
    text-align: center;
  }
.anfitrion{
    background-image: url("../img/fondo1.jpg");
    background-size: cover;
    width: 100%;
    background-position: center;
    margin: 10 ,10px;
    padding: 10px;

}
.anfitrion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    align-items: center;
    justify-content: center;
  }
  
  .profile {
    flex-basis: 30%;
    padding: 10px;
    /*border: solid #090909;*/
    width: 40%;
    justify-content: center;
  }
  
  .profile img {
    border:5px blueviolet dashed;
    margin-top: 40px;
    /*height: auto;
    margin-left: 60px;*/
  }


  .anfitrion1 {
    /*border: solid 2px blue;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

 
    
  }
  

  /*.profile,
   {
    flex-basis: 40%;
    padding: 10px;
    margin: 50px;
  }*/
 
  .imagen-responsiva {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 770px) {
    .imagen-responsiva {
      transform: scale(1.5);
    }
  }
  
  .texto {
    flex-basis: 60%;
    padding: 10px;
    margin: 50px;
  }
  
 
  

  .texto {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic; /* Agrega esta línea para aplicar la cursiva */
      
  }




  
  
  .texto h2 {
    font-weight: bold;
  }
  
  .texto p {
    text-align: justify;
    font-size: 25px;
    margin-top: 10px;
  }
  
  p.texto-1{
    border: 5px red dashed;
    font-style: italic;
  }
  
  /*stylos seccion de rooms*/


/*CENTRAR TITULOS*/

h1{
    text-align: center;
}

h3{
    text-align: center;
    color:black;
    padding: 40px;
    font-size: 30px;

}

h2{
    text-align: center;
    background-color:#9C9C9C;
    padding: 40px;
    color:whitesmoke;
}

.uno {
  background-image:url('../img/fondorooms.jpg') ;
  block-size: cover;
  width: 100%;



}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 550px;
  /*border: dashed;
  color: black;*/
  box-sizing: border-box;
  /*background-image:url('img/fondorooms.jpg') ;*/
  block-size: cover;
}

.item-uno,
.item-dos,
.item-tres {
  flex: 0 0 calc(26.33% - 20px);
  margin: 40px;
  position: relative;
  /*padding-bottom: 100%;*/
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.item-uno::before,
.item-dos::before,
.item-tres::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 0, 0); /* Color inicial transparente (vinotinto en formato RGB) */
  transition: background-color 0.3s ease; /* Transición suave del color */
}

.item-uno:hover::before,
.item-dos:hover::before,
.item-tres:hover::before {
  background-color: rgba(128, 0, 0, 0.5); /* Color superpuesto (vinotinto semi-transparente en formato RGB) */
}




.item-uno img,
.item-dos img,
.item-tres img {
  width: 100%;
  height:auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .center {
    flex-direction: column;
    align-items: center;
  }
  
  .item-uno,
  .item-dos,
  .item-tres {
  
    margin: 10px 0;
 width: 100%;
  }
}


/*stylo de blue*/

.Blue {
    background-image:url('../img/blue.svg') ;
  block-size: cover;
  height: 70vh;
  width: 100%;
}
/*
        .item-uno{
            border:solid;
            color:red;
            
        }


        .item-dos{
            border:solid;
            color:green;
            
        }


        .item-tres{
            border:solid;
            color:yellowgreen;
            
        }*/